@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    background: #c5e1a5;
    font-family: 'Play', sans-serif;
}

.play {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.status{
    width: 300px;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-self: flex-start;
    border-radius: 30px;
    margin: 30px;
    padding: 10px;
    border: 5px solid white;
}

.status h3 {
   margin: 10px;
   padding: 10px;
   color: black;
   border: 3px solid white;
   border-radius: 15px;
   background: white;
   width: 80%;
}

.plantImg {
    margin: 30px;
}
.barBox {
    width: 280px;
    border-radius: 15px;
    background-color: white;
    margin: 10px;
    text-align: center;
    border: 5px solid white;
  }
  
#waterBar{
    /* width: 100%; */
    height: 30px;
    border-radius: 10px;
    background-color: skyblue;
}

#sunlightBar{
    /* width: 100%; */
    height: 30px;
    border-radius: 10px;
    background-color: gold;
}

#tempBar{
    /* width: 100%; */
    height: 30px;
    border-radius: 10px;
    background-color: salmon;
}

#timer {
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.plantImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.plantImg img {
    width: 150px;
    height: 150px;
}

.playBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}

button {
    width: 120px;
    padding: 5px;
    border-radius: 20px;
    margin: 20px;
    border: none;
    color: black;
    background: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

#water:hover {
    background: skyblue;
}
    
#sunlight:hover {
    background: gold;
}
#tempUp:hover {
    background: lightcoral;
}
#tempDown:hover {
    background: DodgerBlue;
}
#tempDown {
    margin: 0px 20px;
}
h1 {
    /* color: white; */
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
}
.time {
    text-align: right;
}
.time button {
    margin: 0 10px 0 10px;
}
.start {
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 100px auto;
    padding: 10px;
}

.start p {
    font-size: 20px;
}

input {
    margin: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;
}

input[type='submit'] {
    border: none;
    background: white;
    margin: 10px;
    border-radius: 10px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px dotted black;
    margin: 50px;
}
.resultPlantImg {
    border: 1px dotted black;
}
.resultMsg {
    border: 5px solid white;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    height: 400px;
    padding: 10px;
}

.resultMsg p {
    font-size: 20px;
}

.inactive {
    display: none;
}