@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body {
    font-family: 'Outfit', sans-serif;
}

#title {
    /* color: white; */
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 60px;
    background-color: skyblue;
    height: 110px;
    padding: 40px;
    border-radius: 2px;
}

.start {
    border: 5px solid #c5e1a5;
    border-radius: 20px;
    text-align: center;
    width: 400px;
    height: 230px;
    margin: 80px auto;
    padding: 10px;
    font-size: 20px;
}

.start p {
    font-size: 25px;
}

.start button {
    border: none;
    background: #c5e1a5;
    width: 90px;
    height: 40px;
    margin: 15px;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

#startBtn {
    width: 150px;
    /* font-family: 'Outfit', sans-serif;
    font-size: 18px; */
}

input {
    margin: 5px;
    padding: 7px;
    border: 2px solid #c5e1a5;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

input[type='submit'] {
    border: none;
    background: #c5e1a5;
    width: 90px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.play {
    background: #c5e1a5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}

.level{
    width: 300px;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-self: flex-start;
    border-radius: 30px;
    margin: 30px 30px 30px 60px;
    padding: 10px;
    border: 5px solid white;
}

.level h4 {
    margin: 0 0 0 2px;
    padding: 3px;
    color: black;
    width: 90%;
 }
 
.barBox {
    width: 280px;
    border-radius: 15px;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    border: 5px solid white;
  }
  
#waterBar{
    height: 30px;
    border-radius: 10px;
    background-color: skyblue;
}

#sunlightBar{
    height: 30px;
    border-radius: 10px;
    background-color: gold;
}

#tempBar{
    height: 30px;
    border-radius: 10px;
    background-color: salmon;
}

#timeBar{
    height: 30px;
    border-radius: 10px;
    background-color: lavender;
}

.plantImg {
    margin: 30px;
}

.plantImg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.plantImg img {
    width: 200px;
    height: 200px;
    
}

.plantImg img:hover {
    transform: scale(1.2);
}

.playBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 60px 30px 30px;
}

.playBtns button {
    width: 120px;
    height: 50px;
    padding: 5px;
    border-radius: 60px;
    margin: 20px;
    border: none;
    color: black;
    background: white;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

button:hover {
    transform: scale(1.2);
}

#water:hover {
    background: skyblue;
}
    
#sunlight:hover {
    background: gold;
}
#tempUp:hover {
    background: lightcoral;
}
#tempDown:hover {
    background: DodgerBlue;
}

.time {
    text-align: right;
}
.time button {
    margin: 0 10px 0 10px;
}

.ground {
    width: 100%;
    height: 100px;
    background:#795548;
    border-radius: 2px;
}

.result {
    width: 50%;
    min-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    border: 3px solid gray;
    border-radius: 20px;
}

#resultPlant {
    width: 200px;
    height: 200px;
}

.resultMsg {
    border-radius: 10px;
    text-align: center;
    width: 40%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.resultMsg p {
    font-size: 25px;
    line-height: 30px;
}

#playAgain {
    border: none;
    background: gray;
    color: white;
    width: 150px;
    height: 40px;
    margin: 15px;
    border-radius: 15px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.inactive {
    display: none;
}